<div class="header-outs" id="home">
    <div class="header-bar">
        <div class="info-top-grid">
            <div class="info-contact-agile">
                <ul>
                    <li>
                        <span class="fas fa-phone-volume"></span>
                        <p>+(33)01 39 65 32 13</p>
                    </li>
                    <li>
                        <span class="fas fa-envelope"></span>
                        <p><a href="mailto:info@example.com">neko@nekopics.com</a></p>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>

    <%= render 'layouts/navbar'  %> 
    <%= render 'layouts/flash'  %>
    </div>
</div>
    <!-- Slideshow 4 -->
    <div class="slider text-center">
        <div class="callbacks_container">
            <ul class="rslides" id="slider4">
                <li>
                    <div class="slider-img one-img">
                        <div class="container">
                            <div class="slider-info ">
                                <h5>The Best Cat's Pics only for <br>You</h5>
                                <div class="bottom-info">
                                    <p>The best pics for all cat's lovers, all breeds in the same shop.</p>
                                </div>
                                <div class="outs_more-buttn">
                                    <a href="about.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img two-img">
                        <div class="container">
                            <div class="slider-info ">
                                <h5>Sort Toys And Teddy bears<br>For Kids</h5>
                                <div class="bottom-info">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolorL orem ipsum dolor sit amet eget dolor</p>
                                </div>
                                <div class="outs_more-buttn">
                                    <a href="about.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img three-img">
                        <div class="container">
                            <div class="slider-info">
                                <h5>Best Toys And Dolls<br> For Kids</h5>
                                <div class="bottom-info">
                                    <p><b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolorL orem ipsum dolor sit amet eget dolor</b></p>
                                </div>
                                <div class="outs_more-buttn">
                                    <a href="about.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- This is here just to demonstrate the callbacks -->
                <!-- <ul class="events">
                <li>Example 4 callback events</li>
            </ul>-->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
            <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">Best Products</h3>
            <div class="row banner-below-w3l">
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="https://image.noelshack.com/fichiers/2019/48/2/1574792385-a1.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Siamese</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="https://image.noelshack.com/fichiers/2019/48/2/1574792385-a2.jpeg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Persian</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="https://image.noelshack.com/fichiers/2019/48/2/1574792385-a3.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Maine Coon</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="https://image.noelshack.com/fichiers/2019/48/2/1574792385-a4.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Ragdoll </h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="https://image.noelshack.com/fichiers/2019/48/2/1574792385-a5.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Bengal</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="https://image.noelshack.com/fichiers/2019/48/2/1574792385-a6.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Birman</h4>
                    </div>
                </div>
                <div class="toys-grids-upper">
                    <div class="about-toys-off">
                        <h2>Get Up to <span>20% Off </span>On Selected Pics</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- //about -->
        
        <!--//about -->
        <!--Customers Review -->
        <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Customers Reviews</h3>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t1.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Milky Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="https://images.unsplash.com/photo-1542736705-53f0131d1e98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="" class="image-fluid-2">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  The Persian
                                        cat is a long-haired breed of cat characterized by its round face 
                                        and short muzzle. It is also known as the "Persian Longhair" in
                                        the English-speaking countries. 
                                        <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t2.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Sam Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="https://images.unsplash.com/photo-1542736143-29a8432162bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="" class="image-fluid-2">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  The Siamese 
                                        cat is one of the first distinctly recognized breeds of Asian cat. 
                                        It's one of several varieties of cat native to China and brought to 
                                        Thailand. <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t1.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Milky Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="https://images.unsplash.com/photo-1515002246390-7bf7e8f87b54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="" class="image-fluid-2">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  The Maine Coon is the 
                                        largest domesticated cat breed. It has a distinctive physical appearance and 
                                        valuable hunting skills. It is one of the oldest.<span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t3.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Sam Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="https://images.unsplash.com/photo-1567170578400-9d182981f2a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="" class="image-fluid-2">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  The Ragdoll 
                                        is a cat breed with a color point coat and blue eyes. They are large
                                        and muscular semi-longhair cats with a soft and silky coat.<span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t2.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Milky Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="https://images.unsplash.com/photo-1557246565-8a3d3ab5d7f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="" class="image-fluid-2">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  The Bengal 
                                        cat is a domesticated cat breed created from hybrids of domestic cats,
                                        the Asian leopard cat (Prionailurus bengalensis) and the Egyptian Mau. <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t3.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Sam Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="https://images.unsplash.com/photo-1533743983669-94fa5c4338ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="" class="image-fluid-2">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span> The Birman, also called 
                                        the "Sacred Cat of Burma", is a domestic cat breed. The Birman is a long-haired, 
                                        colour-pointed cat distinguished by a silky coat <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!--//Customers Review -->
    <!--Product-about-->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Cats</h3>
            <div class="about-products-w3layouts">
                <p>The cat (Felis catus) is a small carnivorous mammal. It is the only 
                    domesticated species in the family Felidae and often referred to as the domestic 
                    cat to distinguish it from wild members of the family.The cat is either a 
                    house cat or a farm cat, which are pets, or a feral cat, whic h ranges freely and
                    avoids human contact.A house c at is valued by humans for companionship 
                    and for its ability to hunt rodents. About 60 cat breeds are recognized by 
                    various cat registries.
                </p>
                <p class="my-lg-4 my-md-3 my-3">As of 2017, the domestic cat was the second-most
                    popular pet in the United States by number of pets owned, after freshwater fish, 
                    with 95 million cats owned. In the United Kingdom, around 7.3 million cats lived 
                    in more than 4.8 million households as of 2019.
                </p>
            </div>
        </div>
    </section>
    <!--//Product-about-->
    <%= render 'layouts/subscribe'  %>
    <%= render 'layouts/touch'  %>
