

    <body>
            <!-- Slideshow 4 -->
            <div class="slider text-center">
                <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="slider-img one-img">
                            <div class="container">
                            <div class="slider-info ">
                                <h5>The Best Cat's Pics only for <br>You</h5>
                                <div class="bottom-info">
                                    <p>The best pics for all cat's lovers, all breeds in the same shop.</p>
                                </div>
                                <div class="outs_more-buttn">
                                    <a href="about.html">Read More</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img two-img">
                            <div class="container">
                            <div class="slider-info ">
                                <h5>Sort Toys And Teddy bears<br>For Kids</h5>
                                <div class="bottom-info">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolorL orem ipsum dolor sit amet eget dolor</p>
                                </div>
                                <div class="outs_more-buttn">
                                    <a href="about.html">Read More</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img three-img">
                            <div class="container">
                            <div class="slider-info">
                                <h5>Best Toys And Dolls<br> For Kids</h5>
                                <div class="bottom-info">
                                    <p><b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolorL orem ipsum dolor sit amet eget dolor</b></p>
                                </div>
                                <div class="outs_more-buttn">
                                    <a href="about.html">Read More</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
                <!-- This is here just to demonstrate the callbacks -->
                <!-- <ul class="events">
                <li>Example 4 callback events</li>
                </ul>-->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //banner -->
        <!-- about -->
        <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
                <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">Best Products</h3>
                <div class="row banner-below-w3l">
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="assets/a1.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Siamese</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="assets/a2.jpeg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Persian</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="assets/a3.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Maine Coon</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="assets/a4.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Ragdoll </h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="assets/a5.jpg" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Bengal</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="assets/a6.png" class="img-thumbnail" alt="">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Birman</h4>
                    </div>
                </div>
                <div class="toys-grids-upper">
                    <div class="about-toys-off">
                        <h2>Get Up to <span>20% Off </span>On Selected Pics</h2>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- //about -->
        <!--new Arrivals -->
        <section class="blog py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
                <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">New Arrivals</h3>
                <div class="slid-img">
                <ul id="flexiselDemo1">
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="assets/a1.jpg" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                            <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                            <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="assets/a2.jpg" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                            <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                            <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="assets/a3.jpg" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                            <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                            <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid ">
                            <img src="assets/a4.jpg" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                            <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                            <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="assets/a5.jpg" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                            <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                            <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid ">
                            <img src="assets/a6.jpg" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                            <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                            <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </section>
        <!--//about -->
        <!--Customers Review -->
        <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Customers Review</h3>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t1.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Milky Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="assets/tt1.jpg" alt="" class="image-fluid">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere 
                                        ex in mollis iaculis. Suspendisse tincidunt
                                        velit sagittis vehicula. Duis posuere 
                                        velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t2.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Sam Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="assets/tt2.jpg" alt="" class="image-fluid">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere 
                                        ex in mollis iaculis. Suspendisse tincidunt
                                        velit sagittis vehicula. Duis posuere 
                                        velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t1.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Milky Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="assets/tt1.jpg" alt="" class="image-fluid">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere 
                                        ex in mollis iaculis. Suspendisse tincidunt
                                        velit sagittis vehicula. Duis posuere 
                                        velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t3.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Sam Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="assets/tt1.jpg" alt="" class="image-fluid">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere 
                                        ex in mollis iaculis. Suspendisse tincidunt
                                        velit sagittis vehicula. Duis posuere 
                                        velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t2.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Milky Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="assets/tt2.jpg" alt="" class="image-fluid">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere 
                                        ex in mollis iaculis. Suspendisse tincidunt
                                        velit sagittis vehicula. Duis posuere 
                                        velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                            <div class="least-w3layouts-text-gap">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 news-img">
                                        <img src="assets/t3.jpg" alt="" class="image-fluid">
                                    </div>
                                    <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                        <h4>Sam Deo 
                                        </h4>
                                        <span class="mt-2">Duis posuere</span>
                                    </div>
                                    <div class="mt-3 news-agile-text">
                                        <img src="assets/tt1.jpg" alt="" class="image-fluid">
                                        <p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis vehicula. Duis posuere 
                                        ex in mollis iaculis. Suspendisse tincidunt
                                        velit sagittis vehicula. Duis posuere 
                                        velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
                </div>
            </div>
        </section>
        <!--//Customers Review -->
        <!--Product-about-->
        <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Cats</h3>
                <div class="about-products-w3layouts">
                <p>The cat (Felis catus) is a small carnivorous mammal. It is the only 
                domesticated species in the family Felidae and often referred to as the domestic 
                cat to distinguish it from wild members of the family.The cat is either a 
                house cat or a farm cat, which are pets, or a feral cat, whic h ranges freely and
                avoids human contact.A house c at is valued by humans for companionship 
                and for its ability to hunt rodents. About 60 cat breeds are recognized by 
                various cat registries.
                </p>
                <p class="my-lg-4 my-md-3 my-3">As of 2017, the domestic cat was the second-most
                popular pet in the United States by number of pets owned, after freshwater fish, 
                with 95 million cats owned. In the United Kingdom, around 7.3 million cats lived 
                in more than 4.8 million households as of 2019.
                </p>
                </div>
            </div>
        </section>
        <!--//Product-about-->
        <%= render 'layouts/subscribe'  %>
        <%= render 'layouts/touch'  %>
    </body>
