<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <%= link_to "home", root_path()%>
        <span>/ /</span>
      </li>
      <li>Checkout</li>
    </ul>
  </div>
</div>

<section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="shop_inner_inf">
      <div class="privacy about">
        <h3>Checkout</h3>
        <div class="checkout-right">
          <h4>Your shopping cart contains: VAR Products</h4>
          <table class="timetable_sub">

            <thead>
              <tr>
                <th>SL No.</th>
                <th>Product</th>
                <th>Quality</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr class="rem1">
                <td class="invert">1</td>
                <td class="invert-image"><a href="single.html"><img src="images/f1.jpg" alt=" " class="img-responsive"></a></td>
                <td class="invert">
                  <div class="quantity">
                    <div class="quantity-select">
                      <div class="entry value-minus">&nbsp;</div>
                      <div class="entry value"><span>1</span></div>
                      <div class="entry value-plus active">&nbsp;</div>
                    </div>
                  </div>
                </td>
                <td class="invert">Bella Toes</td>
                <td class="invert">$675.00</td>
                <td class="invert">
                  <div class="rem">
                    <div class="close1"> </div>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>
        </div>

        <div class="col-md-8 address_form">
          <h4>Your delivery adress is: <%= current_user.email %></h4>
          <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
            <section class="creditly-wrapper wrapper">
              <div class="information-wrapper">
                <div class="first-row form-group">
                  <div class="controls">
                    <label class="control-label">Change your delivery adress: </label>
                    <input class="billing-address-name form-control" type="text" name="name" placeholder="New email adress">
                  </div>
                  <button class="submit check_out">Delivery to this Address</button>
                </div>
              </section>
            </form>
          </div>

          <div class="checkout-left">
            <div class="col-md-4 checkout-left-basket">
              <h4><%= link_to "Pay now", new_charge_path %></h4>                  
              <ul>
                <li>Total <i>-</i> <span>$ VAR TOTAL AMOUNT</span></li>
              </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="clearfix"></div>
          </div>
        </section>



