


    <!-- banner -->
    <div class="inner_page-banner one-img">
    </div>
    <!--//banner -->
<div class="container">
    <div class="card-columns">
        <% @items.each do |item| %>
            <div class="card">
                <img src=<%= item.image_url %> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= item.title %></h5>
                    <p class="card-text">€ <%= item.price %></p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary-2">Shop Now</a>
                    <hr>
                    <a class="btn btn-primary-2 center" <%= link_to "Plus d'infos", item_path(item.id) %></a>
                </div>
            </div>
            <br>
            <br>
        <% end %>
    </div>
</div>        
<br>
