
button.toys-cart  {
    font-size: 1.2em;
    color: #fff;
    border:none;
    text-align: center;
    border-left:none!important;
    background: none;
	background: #171717;
    width:30%;
	padding:12px 0px
}