// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button.toys-cart-3  {
    font-size: 1.2em;
    color: #fff;
    border:none;
    text-align: center;
    border-left:none!important;
    background: none;
	background: #171717;
    width:30%;
	padding:12px 0px
}