<br><br>
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li><h4>Voici le profil de l'user n° <%= @user.id %>.</h4></li>
    </ul>
  </div>
</div>
<br><br>

<div class="container">
  <ul>
    <li><h4>Votre email: </h4> <%= @user.email %>.</li> 
    <br>
    <li>
      <button type="submit" class="toys-cart-3 ptoys-cart add">
        <%= link_to 'Editer le profil',  edit_user_registration_path(@user.id) %>
      </button>
    </li>
  </ul>
</div>
</div><br><br>