<footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
	<div class="copy-agile-right">
		<p> 
			© 2019 Neko Pics. All Rights Reserved | Design by <a href="https://assoangels.com/" target="_blank">AssoAngels</a>
		</p>
	</div>
</footer>