<div class="header-outs" id="home">
	<div class="header-bar">
		<div class="info-top-grid">
			<div class="info-contact-agile">
				<ul>
					<li>
						<span class="fas fa-phone-volume"></span>
						<p>+(33)01 39 65 32 13</p>
					</li>
					<li>
						<span class="fas fa-envelope"></span>
						<p><a href="mailto:info@example.com">neko@nekopix.com</a></p>
					</li>
					<li>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>