<section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
	<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
		<h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Get In Touch Us</h3>
		<div class="icons mt-4 text-center">
			<ul>
				<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
				<li><a href="#"><span class="fas fa-envelope"></span></a></li>
				<li><a href="#"><span class="fas fa-rss"></span></a></li>
				<li><a href="#"><span class="fab fa-vk"></span></a></li>
			</ul>
			<p class="my-3">velit sagittis vehicula. Duis posuere 
				ex in mollis iaculis. Suspendisse tincidunt
				velit sagittis vehicula. Duis posuere 
				velit sagittis vehicula. Duis posuere 
			</p>
		</div>
		<div class="email-sub-agile">
			<form action="#" method="post">
				<div class="form-group sub-info-mail">
					<input type="email" class="form-control email-sub-agile" placeholder="Email">
				</div>
				<div class="text-center">
					<button type="submit" class="btn subscrib-btnn">Subscribe</button>
				</div>
			</form>
		</div>
	</div>
</section>