<section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
	<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
		<h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Get In Touch</h3>
		<div class="icons mt-4 text-center">
			<ul>
			<li>
				<%= link_to root_path do %>
				<span class="fab fa-facebook-f"></span>
				<% end %>
			</li>
			<li>
				<%= link_to root_path do %>
				<span class="fas fa-envelope"></span>
				<% end %>
			</li>
			<li>
				<%= link_to root_path do %>
				<span class="fas fa-rss"></span>
				<% end %>
			</li>
			<li>
				<%= link_to root_path do %>
				<span class="fab fa-vk"></span>
				<% end %>
			</li>
			</ul>
			<p class="my-3">Make Kitties lovers dreaming about this soft and so cute animal. It's also more economic to get pictures than real ones (Less issues too). Contact Us fastly. 
			</p>
		</div>
		<div class="email-sub-agile">
			<form action="#" method="post">
				<div class="form-group sub-info-mail">
					<input type="email" class="form-control email-sub-agile" placeholder="Email">
				</div>
				<div class="text-center">
					<button type="submit" class="btn subscrib-btnn">Subscribe</button>
				</div>
			</form>
		</div>
	</div>
</section>